<header>
  <!-- <app-header></app-header> -->
  <a href="{{bizService.get_webstore_link()}}" class="logo">
    <img src="{{bizService.get_company_logo()}}" height="60px" />
  </a>
</header>
<main class="container-fluid">
  <div style="padding:0px ;">
    <div class="row" style="justify-content: center;margin-top: 30px !important;">
      <div style="max-width: 500px;">
        <div class="card" style="width: 100%;border:none">
          <div class="row" style="text-align: center;">
            <span style="font-weight: 700;font-size: xx-large;">Customer Login</span>
          </div>

          <div class="card-body">
            <form [formGroup]="loginForm">
              <div class="row" style="margin-top: 20px;">
                <div class="form-group">
                  <label>Email Address</label>
                  <input formControlName="email" type="email" placeholder="Email Address" class="round-input">
                </div>
              </div>
              <div class="row" style="margin-top: 20px;">
                <div class="form-group">
                  <label>Password</label>
                  <div style="width: 100%;">
                    <input formControlName="password" type="{{inputType}}" placeholder="Enter your Password"
                      class="round-input" style="width: 100%;">
                    <i *ngIf="!showPassword" class="fa fa-eye" style="cursor: pointer; margin-left: -30px;"
                      (click)="togglePassword()"></i>
                    <i *ngIf="showPassword" class="fa fa-eye-slash" style="cursor: pointer; margin-left: -30px;"
                      (click)="togglePassword()"></i>
                  </div>
                </div>
              </div>
            </form>
            <div class="row" style="margin-top: 20px; display: block;">
              <span><i class="fa-regular fa-circle" [ngStyle]="{'color': bizService.get_background_color()}"></i><span
                  style="padding-left:10px;">Remember Me</span></span>
              <span style="float: right; width: fit-content; cursor: pointer;"
                routerLink="/{{bizService.getBizName()}}/resetpassword/1"
                [ngStyle]="{'color': bizService.get_background_color()}">Forgot Password?</span>
            </div>
            <div class="row" style="margin-top: 30px; padding-left: 10px;padding-right: 10px;">
              <button class="btn  login-button" (click)="submitLogin()"
                [ngStyle]="{'background-color': bizService.get_background_color()}">Login</button>
            </div>
            <div class="row" style="margin-top: 20px; display: block;">
              <span>Don't have an Account</span>
              <span style="float: right; width: fit-content;"
                [ngStyle]="{'color': bizService.get_background_color()}">Request to Become a Customer</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>
<footer style="padding-top: 20px;">

  <!-- <app-footer></app-footer> -->
</footer>