<p-dialog header="Contact Us" [modal]="true" [style]="{ 'width': '410px', 'border-radius': '10px' }">
    <form [formGroup]="contactUsForm" (ngSubmit)="submitForm()" #contactForm="ngForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input style="border-radius: 15px;" placeholder="Enter Name" type="text" class="form-control" id="name"
                formControlName="name">
            <small style="color: red; font-size: 12px; padding-left: 15px;"
                *ngIf="contactUsForm.get('name').hasError('required') && this.contactUsForm.get('name').touched">
                name is required
            </small>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input style="border-radius: 15px;" placeholder="Enter Email" type="email" class="form-control" id="email"
                formControlName="email">
            <small style="color: red; font-size: 12px; padding-left: 15px;"
                *ngIf="contactUsForm.get('email').hasError('required') && this.contactUsForm.get('email').touched">
                email is required
            </small>
            <small style="color: red; font-size: 12px; padding-left: 15px;"
                *ngIf="contactUsForm.get('email').hasError('email')">
                Invalid Email
            </small>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input style="border-radius: 15px;" placeholder="Enter Phone Number" type="tel" class="form-control"
                id="phone" formControlName="phone">
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea style="border-radius: 15px;" placeholder="Enter Message" class="form-control" id="message"
                rows="4" formControlName="message"></textarea>
            <small style="color: red; font-size: 12px; padding-left: 15px;"
                *ngIf="contactUsForm.get('message').hasError('required') && this.contactUsForm.get('message').touched">
                message is required
            </small>
        </div>
        <div style="display: flex; justify-content: center;">
            <button [ngStyle]="{'background-color': bizService.get_background_color()}"
                style="border-radius: 20px; width: 150px; border: none; color: white;" type="submit"
                class="">Submit</button>
        </div>
    </form>
</p-dialog>