<div class="container-fluid footer-main">
    <div class="row footer-top" style="padding-top:30px">
        <div class="col-sm-1 col-lg-1">

        </div>
        <div class="col-sm-3 col-lg-3">
          <!-- <span style="color: white;font-size: 48px;">.<span style="color: #f68b1e;">ts</span>marketing.</span> -->
          <!-- <a href="{{bizService.get_webstore_link()}}" >
            <img src="{{bizService.get_company_logo()}}" height="60px"/>
            </a> -->
        </div>
        <div class="col-sm-8 col-lg-8">
            <div class="row">
                <span style="font-weight: 700;font-size: large;"> {{name | uppercase }} SUBSCRIPTION</span>
            </div>
            <div class="row" style="margin-top:10px">
                <span style="font-size: medium;">Subscribe to our newsletter to get updates on our latest offers!</span>
            </div>
            <div class="row" style="margin-top:10px">
                <div>
                    <input  type="email"  placeholder="Enter Email Address" style="height: 50px;border-radius: 2px; font-size: large; padding-left: 10px; padding-right: 10px;" >
                    <button style="background-color: #313133;border: 1px solid white; color: white;border-radius: 2px; margin-left:10px ;min-width: 80px;height: 50px;">SUBMIT</button>
                </div>
               
            </div>
        </div>
    </div>
    <!-- <div class="row" style="margin-top:20px">
        <div class="col-sm-1 col-lg-1">

        </div>
        <div class="col-sm-2 col-lg-2">
            <div class="row">
                <span style="font-weight: 700;font-size: x-large;"> Shopping Guide</span>
            </div>
            <div class="row">
                <span style="font-size: large;">How do I pay on .tsmarketing.?</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Flash Sale</span>
            </div>
            <div class="row">
                <span style="font-size: large;">How to apply aftersale/ Refund</span>
            </div>
            <div class="row">
                <span style="font-size: large;">How long does my order arrive?</span>
            </div>
            <div class="row">
                <span style="font-size: large;">How to shop on tsmarketing</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Forgot Password?</span>
            </div>
        </div>
        <div class="col-sm-2 col-lg-2">
            <div class="row">
                <span style="font-weight: 700;font-size: x-large;"> Customer Help Center</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Dispute resolution policy</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Terms and Conditions</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Account Settings</span>
            </div>
            <div class="row">
                <span style="font-size: large;">After Sale Policy</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Delivery and Shipping</span>
            </div>
            <div class="row">
                <span style="font-size: large;">FAQ Center</span>
            </div>
        </div>
        <div class="col-sm-2 col-lg-2">
            <div class="row">
                <span style="font-weight: 700;font-size: x-large;">Business</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Want to be a seller?</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Seller Help Center</span>
            </div>
            <div class="row">
                <span style="font-size: large;">tsmarketing Shop</span>
            </div>
          
        </div>
        <div class="col-sm-2 col-lg-2">
            <div class="row">
                <span style="font-weight: 700;font-size: x-large;">Contact us</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Tel:+0200000000</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Email:support@tsmarketing.com</span>
            </div>
            <div class="row">
                <span style="font-size: large;">Kenya</span>
            </div>
        </div>  
        <div class="col-sm-2 col-lg-2">
            <div class="row">
                <span style="font-weight: 700;font-size: x-large;">Stay Connected:</span>
            </div>
            <div style="display: block;">
                <span ><i class="typcn typcn-social-facebook" style="font-size: xx-large;"></i></span>
                <span ><i class="typcn typcn-social-twitter" style="font-size: xx-large;"></i></span>
                <span ><i class="typcn typcn-social-instagram-circular" style="font-size: xx-large;"></i></span>
                <span ><i class="fe fe-phone-call" style="font-size: xx-large;"></i></span>
            </div>
           
        </div>   
        <div class="col-sm-1 col-lg-1">

        </div>
    </div> -->
</div>
