*{
    font-family: 'sofia' !important;
  }
  
.footer-main{
    background-color: #535357;
    color: white;
    padding-bottom: 20px;
}


.footer-top{
    background-color: #313133;
    padding-bottom: 20px;
    padding-top: 10px;
}

