
<main style="min-height: 100vh; display: flex; flex-direction: column; max-width: 100vw;">
	<app-alert #alert></app-alert>
	<header>
		<app-header></app-header>
	</header>
	<div class="container-mobile-view" style="padding-top: 160px; padding-left: 15px; padding-right: 15px;">


		<div class="main-content">
			<div class="row">
				<span class="page-title">Shipping Address</span>
			</div>
			<form [formGroup]="shippingForm">
				<div class="row form-info">
					<div class="col-lg-6 col-sm-6 col-12 col-form">
						<div class="row">
							<div class="form-group">
								<label>Full Name</label>
								<input formControlName="contact" class="form-control  round-input"
									placeholder="Full Name" />
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label>Phone Number</label>
								<input formControlName="phone" class="form-control  round-input"
									placeholder="Phone Number" />
							</div>
						</div>

						<div class="row" style="margin-top: 20px;">
							<div class="form-group">
								<label>Country</label>
								<select formControlName="country" class="form-select round-input"
									placeholder="Select Country">
									<option *ngFor=" let c of countries" [value]="c">{{c}}</option>
								</select>
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<div class="form-group">
								<label>Address </label>
								<input formControlName="address" class="form-control round-input"
									placeholder="Address" />
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<div class="form-group">
								<label>Address 2</label>
								<input formControlName="address_2" class="form-control round-input"
									placeholder="Address 2" />
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<div class="form-group">
								<label>City</label>
								<input formControlName="city" class="form-control round-input" placeholder="City" />
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<div class="col-sm-6 col-lg-6">
								<div class="form-group">
									<label>State/Region</label>
									<input formControlName="state" class="form-control round-input"
										placeholder="State/Region" />
								</div>
							</div>
							<div class="col-sm-6 col-lg-6 small-margin-top-20">
								<div class="form-group">
									<label>Zip/Postal Code</label>
									<input formControlName="postal_code" class="form-control round-input"
										placeholder="Postal Code" />
								</div>
							</div>

						</div>
						<hr style="margin-top: 10px; margin-bottom: 0px; border: 1px solid #696868;">
						<div class="row" style="margin-top: 10px;">
							<div class="form-group">
								<label>Payment Options</label>
								<select [formControl]="paymentOption" class="form-select round-input"
									placeholder="Select Payment Option">
									<option *ngFor=" let value of paymentOptions" [value]="value">{{value}}</option>
									<!-- <option [value]="stripe">Stripe</option> -->
								</select>
							</div>
						</div>
						<div class="row" *ngIf="paymentOption.value == mpesa" >
							<div class="form-group">
								<label>Enter Mpesa Phone Number</label>
								<input [formControl]="mpesaPhoneNumber" type="text" class="form-control  round-input"
									placeholder="Phone Number" />
							</div>
						</div>

						<div class="row normal-view-btn" style="margin-top: 30px;justify-content: center;">
							<button class="submit-now-button"
								[ngStyle]="{'background-color': bizService.get_background_color()}"
								(click)="saveShippingDetail()">Save & Continue</button>
						</div>

					</div>
					<div class="col-lg-6 col-sm-6 col-12 col-summary">
						<div class="card summary-card">
							<div class="card-body">
								<div class="row">
									<span style="font-weight: 700;">Cart Summary</span>
								</div>
								<div class="row">
									<span style="font-size:medium">{{userInfoService.getCartItems().length}}
										items</span>
								</div>
								<div class="row" style="margin-top: 15px;">
									<div class="line"></div>
								</div>
								<div class="row" style="margin-top: 15px;">
									<div style=" display:inline-block">
										<span> Order Subtotal</span>
										<span
											style="float: right;">{{cart_summary.currency}}{{cart_summary.subtotal}}</span>
									</div>
								</div>
								<div class="row">
									<div style=" display:inline-block">
										<span> Freight Cost</span>
										<span
											style="float: right;">{{cart_summary.currency}}{{cart_summary.freight_cost}}</span>
									</div>

								</div>
								<div class="row">
									<div style=" display:inline-block">
										<span> Estimated Tax</span>
										<span
											style="float: right;">{{cart_summary.currency}}{{cart_summary.estimated_tax}}</span>
									</div>

								</div>
								<div class="row" style="margin-top: 15px;">
									<div class="line"></div>
								</div>
								<div class="row" style="margin-top: 20px;">
									<div style=" display:inline-block">
										<span>Total</span>
										<span
											style="float: right;">{{cart_summary.currency}}{{cart_summary.total_cost}}</span>
									</div>

								</div>
							</div>
						</div>

						<div class="row mobile-view-btn" style="margin-top: 30px;justify-content: center; margin-bottom: 30px; margin-left: 15px; margin-right: 15px;">
							<button class="submit-now-button"
								[ngStyle]="{'background-color': bizService.get_background_color()}"
								(click)="saveShippingDetail()">Save & Continue</button>
						</div>
						<!-- <div class="row" style="margin-top: 50px;">
							<span style="font-weight: 700;font-size: large;">Delivery Method</span>
						</div>
						<div class="row">
							<span style="font-weight: 700;font-size: large;">Estimated Arrival May 15th, 2023</span>
						</div>
						<div class="row">
							<span>UPS Ground</span>
						</div> -->
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer style="padding-top: 20px;">
    <app-customer-footer></app-customer-footer>
	</footer>
</main>