
.app-title{
    font-weight: 700;
    font-size: 40px;    
  }
  
  
  @media (min-width: 991.98px) { 
    .app-title{
        margin-left: 20px;
    }
  }
  
  @media (max-width: 991.98px) { 
    .app-title{
        margin-left: 10px;
    }
  }
  
  
  .form-group {
  
    .round-input{
        border-radius: 15px !important;
        height: 50px;
        padding-left: 20px;
        border: 2px solid #C1C7D6;
    }
    .round-input:focus{
        border: 1px solid #C1C7D6;
    }
  }
  
  .form-group{
    display: grid;
  }
  
  .login-button{
      width:100%;
      max-width: 300px;
      height: 50px;
      color: #fff;
      font-size: large;
      padding: auto;
      font-weight: 500;
      border-radius: 10px;
  
  
  }
  
  
  .login-button:hover{
   border: gray solid 1px;
  }
  label{
    font-weight: 600;
  }