<header>
    <!-- <app-header></app-header> -->
    <a href="{{bizService.get_webstore_link()}}" class="logo">
        <img src="{{bizService.get_company_logo()}}" height="60px" />
    </a>
</header>
<main class="container-fluid">
    <div style="padding:0px ;">
        <div class="row"
            style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 30px !important;">

            <div *ngIf="displaySection===1" style="max-width: 500px;">
                <div class="card" style="width: 100%;border:none">
                    <div class="row" style="text-align: center;">
                        <span style="font-weight: 700;font-size: 50px;">Forgot <br> Password?</span>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="loginForm">
                            <div class="row" style="margin-top: 20px;">
                                <div class="form-group">
                                    <label style="color: #525252;">Enter the email address associated with your
                                        account</label>
                                    <input formControlName="email" type="email" placeholder="Enter Email Address"
                                        class="round-input">
                                    <label *ngIf="successResponse === 1" style="color: #c64949;">check your mail for the
                                        response</label>
                                    <label *ngIf="successResponse === 2" style="color: #c64949;">invalid email
                                        address</label>
                                </div>
                            </div>
                        </form>
                        <div class="row"
                            style="margin-top: 30px; padding-left: 10px;padding-right: 10px; display: flex; justify-content: center;">
                            <button class="btn  login-button" (click)="submitEmail()"
                                [ngStyle]="{'background-color': bizService.get_background_color()}">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="displaySection===2" style="max-width: 500px;">
                <div class="card" style="width: 100%;border:none">
                    <div class="row" style="text-align: center;">
                        <span style="font-weight: 700;font-size: 50px;">Reset <br> Password?</span>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="passwordForm">
                            <div class="row">
                                <div style="display: flex; flex-direction: column; margin-bottom: 20px;">
                                    <small style="font-size: 10px; padding-left: 10px;">Password Rules:</small>
                                    <small style="font-size: 10px; padding-left: 15px;">8 minimun characters</small>
                                    <small style="font-size: 10px; padding-left: 15px;">at least one number</small>
                                    <small style="font-size: 10px; padding-left: 15px;">at least one special character
                                        (!@#$%^&*)</small>
                                    <small style="font-size: 10px; padding-left: 15px;">at least one capital</small>
                                </div>
                                <div class="form-group">
                                    <input formControlName="password" type="password" placeholder="New Password"
                                        class="round-input">
                                    <small style="color: red; font-size: 12px; padding-left: 15px;"
                                        *ngIf="passwordForm.get('password').hasError('minlength')">
                                        Minimum length is 8 characters.
                                    </small>
                                    <small style="color: red; font-size: 12px; padding-left: 15px;"
                                        *ngIf="passwordForm.get('password').hasError('uppercase')">
                                        At least one uppercase letter is required.
                                    </small>
                                    <small style="color: red; font-size: 12px; padding-left: 15px;"
                                        *ngIf="passwordForm.get('password').hasError('specialCharacter')">
                                        At least one special character is required.
                                    </small>
                                    <small style="color: red; font-size: 12px; padding-left: 15px;"
                                        *ngIf="passwordForm.get('password').hasError('number')">
                                        At least one number is required.
                                    </small>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="form-group">
                                    <input formControlName="confirmPassword" type="password"
                                        placeholder="Confirm Password" class="round-input">
                                    <small style="color: red; font-size: 12px; padding-left: 15px;"
                                        *ngIf="passwordForm.get('confirmPassword').hasError('passwordMismatch')">
                                        passwords do not match
                                    </small>
                                </div>
                            </div>
                        </form>
                        <div class="row"
                            style="margin-top: 30px; padding-left: 10px;padding-right: 10px; display: flex; justify-content: center;">
                            <button class="btn  login-button" (click)="resetPassword()"
                                [ngStyle]="{'background-color': bizService.get_background_color()}">Reset
                                Password</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="displaySection===3" style="max-width: 500px;">
                <div class="card" style="width: 100%;border:none">
                    <div class="row" style="text-align: center;">
                        <span style="font-weight: 700;font-size: 50px;">Reset <br> has been <br> Successful!</span>
                    </div>
                    <div class="card-body">
                        <div style="color: #525252; text-align: center;">Your password has been reset successfully! Now
                            login with your new password</div>
                        <div class="row"
                            style="margin-top: 30px; padding-left: 10px;padding-right: 10px; display: flex; justify-content: center;">
                            <button class="btn  login-button" routerLink="/{{bizService.getBizName()}}/login"
                                [ngStyle]="{'background-color': bizService.get_background_color()}">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer style="padding-top: 20px;">

    <!-- <app-footer></app-footer> -->
</footer>