@media (max-width: 580px){
    .about-us-container{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .about-us-content {
        flex-direction: column !important;
    }
    .main-content{
        margin-top: 70px !important;
    }
}