<main style="min-height: 100vh; display: flex; flex-direction: column; max-width: 100vw; overflow-x: hidden;">
    <app-alert #alert></app-alert>
    <header>
        <app-header></app-header>
    </header>
    <div style="margin-top: 220px; margin-bottom: 50px;" class="main-content">
        <div class="contact-us" style="padding-left: 100px; padding-right: 100px; display: flex; column-gap: 40px;">
            <div style="flex: 1; display: flex; flex-direction: column;">
                <div style="font-size: 24px; font-weight: bold;">Contact Us</div>
                <hr style="border: 1px solid #C1C7D6;">
                <div style="margin-bottom: 30px;">Contact us today if you have any questions or inquiries</div>
                <div style="display: flex;justify-content: center;">
                    <div style="border-radius: 20px; width: 100%; max-width: 600px;">
                        <google-map [options]="options" width="100%" height="400px"></google-map>
                    </div>
                </div>
            </div>
            <div style="flex: 1; padding-top: 75px;">
                <form [formGroup]="contactUsForm" (ngSubmit)="submitForm()" #contactForm="ngForm">
                    <div style="display: flex; column-gap: 20px;">
                        <div class="form-group" style="flex: 1;">
                            <label for="firstName">First Name:</label>
                            <input style="border-radius: 15px;" placeholder="Enter First Name" type="text"
                                class="form-control" id="firstName" formControlName="firstName">
                            <small style="color: red; font-size: 12px; padding-left: 15px;"
                                *ngIf="contactUsForm.get('firstName').hasError('required') && this.contactUsForm.get('firstName').touched">
                                firstName is required
                            </small>
                        </div>
                        <div class="form-group" style="flex: 1;">
                            <label for="lastName">Last Name:</label>
                            <input style="border-radius: 15px;" placeholder="Enter Last Name" type="text"
                                class="form-control" id="lastName" formControlName="lastName">
                            <small style="color: red; font-size: 12px; padding-left: 15px;"
                                *ngIf="contactUsForm.get('lastName').hasError('required') && this.contactUsForm.get('lastName').touched">
                                lastName is required
                            </small>
                        </div>
                    </div>
                    <div style="display: flex; column-gap: 20px;">
                        <div class="form-group" style="flex: 1;">
                            <label for="email">Email:</label>
                            <input style="border-radius: 15px;" placeholder="Enter Email" type="email"
                                class="form-control" id="email" formControlName="email">
                            <small style="color: red; font-size: 12px; padding-left: 15px;"
                                *ngIf="contactUsForm.get('email').hasError('required') && this.contactUsForm.get('email').touched">
                                email is required
                            </small>
                            <small style="color: red; font-size: 12px; padding-left: 15px;"
                                *ngIf="contactUsForm.get('email').hasError('email')">
                                Invalid Email
                            </small>
                        </div>
                        <div class="form-group" style="flex: 1;">
                            <label for="phone">Phone Number:</label>
                            <input style="border-radius: 15px;" placeholder="Enter Phone Number" type="tel"
                                class="form-control" id="phone" formControlName="phone">
                            <small style="color: red; font-size: 12px; padding-left: 15px;"
                                *ngIf="contactUsForm.get('phone').hasError('required') && this.contactUsForm.get('phone').touched">
                                phone is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea style="border-radius: 15px;" placeholder="Enter Message" class="form-control"
                            id="message" rows="4" formControlName="message"></textarea>
                        <small style="color: red; font-size: 12px; padding-left: 15px;"
                            *ngIf="contactUsForm.get('message').hasError('required') && this.contactUsForm.get('message').touched">
                            message is required
                        </small>
                    </div>
                    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                        <button [ngStyle]="{'background-color': bizService.get_background_color()}"
                            style="border-radius: 20px; width: 300px; border: none; color: white; padding: 15px;" type="submit"
                            class="">Contact Us</button>
                        <div>Email us for other inquires  <span [ngStyle]="{'color': bizService.get_background_color()}">Send us an email</span></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer style="padding-top: 20px; bottom: 0; width: 100%;">
        <app-customer-footer></app-customer-footer>
    </footer>
</main>