@media (max-width: 580px){
    .contact-us{
        flex-direction: column !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .main-content{
        margin-top: 70px !important;
    }
}